<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1>Edit <%= photos.title %></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/photos">Photos Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Photo's BullShit:</h2>
			<form action="/photos/<%= photos._id %>?_method=PUT" method="POST">
				<select name="users">
					<% for(let i = 0; i < users.length; i++) { %>
						<option value="<%= users[i]._id %>"
							<% if(users[i]._id == users._id) { %>
								selected
							<% } %>
						><%= users[i].username %></option>
					<% } %>
				</select><br/>
                What: <input type="text" name="title" value="<%= photos.title %>"/><br/>
                URL: <input type="text" name="url" value="<%= photos.url %>"/><br>
				When How Why: <textarea name="description"><%= photos.body %></textarea><br/>
				<input type="submit" value="Update Photo"/>
			</form>
		</main>
	</body>
</html>